<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Campus list</title>

</head>
<body>

<header>
    <h1>Campus list</h1>
</header>


<main>

    <section>
        <div>
            <h5>France</h5>
            <ul>
                <li>Biarritz</li>
                <li>Bordeaux</li>
                <li>La Loupe</li>
                <li>Lille</li>
                <li>Lyon</li>
                <li>Marseille</li>
                <li>Nantes</li>
                <li>Orléans</li>
                <li>Paris</li>
                <li>Reims</li>
                <li>Strasbourg</li>
                <li>Toulouse</li>
                <li>Tours</li>
            </ul>
        </div>

        <div>
            <h5>Europe</h5>
            <ul>
                <li>Amsterdam</li>
                <li>Barcelone</li>
                <li>Berlin</li>
                <li>Bruxelles</li>
                <li>Bucarest</li>
                <li>Lisbonne</li>
                <li>Londres</li>
                <li>Madrid</li>
            </ul>
        </div>

        <div>
            <h5 class='underline'>À distance</h5>
            <ul>
                <li>Remote </li>
                <li>Remote</li>
            </ul>
        </div>

    </section>

</main>

<footer> </footer>

</body>
</html>